{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card card-custom p-4 shadow-sm" style="max-width: 400px; width: 100%;">
        <div class="text-center mb-4">
        <h2 class="mt-2">Registrar Novo Usuário</h2>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}<br>
                {{ form.name(class_="form-control") }}
                {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.user_name.label }}<br>
                {{ form.user_name(class_="form-control") }}
                {% for error in form.user_name.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(class_="form-control") }}
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password_confirm.label }}<br>
                {{ form.password_confirm(class_="form-control") }}
                {% for error in form.password_confirm.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div><br>
            <button type="submit" class="btn btn-primary w-100">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
